html {
  /* scroll-snap-type: y mandatory; */
}

.app {
background-color: black;
display: grid;
place-items: center;
height: 100vh;
}

.app__videos {
  height: 90vh;
  border-radius: 20px;
  position: relative;
  overflow: scroll;
  width: 23vw;
  min-width: 270px;
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  display: none;
}